a {
  display: block;
  text-decoration: none;
  width: 100%;
  height: 100%;
  color: #313131;
}

a:hover {
  color: #1f45fc;
  text-decoration: underline;
}

.navigation {
  list-style: none;
  padding: 5px 0 0 0;
  width: 250px; 
  height: 25px; 
  margin: 20px auto;
  background-color: #c4e8ff;
  position: relative; 
  z-index: 100;
}

.navigation, .navigation a.main {
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
}

.navigation:hover, .navigation:hover a.main {
  border-radius: 4px 4px 0 0;
  -webkit-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
}

.navigation a.main {
  display: block; 
  height: 25px;
  font-family: Arial, sans-serif;
  font-size: 15px;
  text-align: center;
  text-decoration: none;
  color: #2a6496;
  -webkit-transition: 0.1s ease-in-out;
  -o-transition: 0.1s ease-in-out;
  transition: 0.1s ease-in-out;
  position: relative;
  z-index: 100;
}

.navigation:hover a.main {
  color: #1f45fc;
}

.navigation li { 
  width: 250px; 
  height: 18px;
  font-family: Arial, sans-serif;
  font-size: 12px;
  text-align: center;
  margin: 0;
  -webkit-transform-origin: 50% 0%;
  -o-transform-origin: 50% 0%;
  transform-origin: 50% 0%;
  -webkit-transform: perspective(350px) rotateX(-90deg);
  -o-transform: perspective(350px) rotateX(-90deg);
  transform: perspective(350px) rotateX(-90deg);
  box-shadow: 0 2px 10px rgba(0,0,0,0.05);
  -webkit-box-shadow: 0 2px 10px rgba(0,0,0,0.05);
  -moz-box-shadow: 0 2px 10px rgba(0,0,0,0.05);
}

.navigation li:nth-child(even) {
  background: #f0f0f0;
}

.navigation li:nth-child(odd) {
  background: #e8e8e8;
}

.navigation li:last-child {
  background: #c4e8ff;
  border-radius: 0 0 4px 4px;
}

.navigation li.n1 { 
  -webkit-transition: 0.1s linear 0.96s;
  -o-transition: 0.1s linear 0.96s;
  transition: 0.1s linear 0.96s;
}

.navigation li.n2 { 
  -webkit-transition: 0.1s linear 0.93s;
  -o-transition: 0.1s linear 0.93s;
  transition: 0.1s linear 0.93s;
}

.navigation li.n3 { 
  -webkit-transition: 0.1s linear 0.9s;
  -o-transition: 0.1s linear 0.9s;
  transition: 0.1s linear 0.9s;
}

.navigation li.n4 { 
  -webkit-transition: 0.1s linear 0.87s;
  -o-transition: 0.1s linear 0.87s;
  transition: 0.1s linear 0.87s;
}

.navigation li.n5 { 
  -webkit-transition: 0.1s linear 0.84s;
  -o-transition: 0.1s linear 0.84s;
  transition: 0.1s linear 0.84s;
}

.navigation li.n6 { 
  -webkit-transition: 0.1s linear 0.81s;
  -o-transition: 0.1s linear 0.81s;
  transition: 0.1s linear 0.81s;
}

.navigation li.n7 { 
  -webkit-transition: 0.1s linear 0.78s;
  -o-transition: 0.1s linear 0.78s;
  transition: 0.1s linear 0.78s;
}

.navigation li.n8 { 
  -webkit-transition: 0.1s linear 0.75s;
  -o-transition: 0.1s linear 0.75s;
  transition: 0.1s linear 0.75s;
}

.navigation li.n9 { 
  -webkit-transition: 0.1s linear 0.72s;
  -o-transition: 0.1s linear 0.72s;
  transition: 0.1s linear 0.72s;
}

.navigation li.n10 { 
  -webkit-transition: 0.1s linear 0.69s;
  -o-transition: 0.1s linear 0.69s;
  transition: 0.1s linear 0.69s;
}

.navigation li.n11 { 
  -webkit-transition: 0.1s linear 0.66s;
  -o-transition: 0.1s linear 0.66s;
  transition: 0.1s linear 0.66s;
}

.navigation li.n12 { 
  -webkit-transition: 0.1s linear 0.63s;
  -o-transition: 0.1s linear 0.63s;
  transition: 0.1s linear 0.63s;
}

.navigation li.n13 { 
  -webkit-transition: 0.1s linear 0.6s;
  -o-transition: 0.1s linear 0.6s;
  transition: 0.1s linear 0.6s;
}

.navigation li.n14 { 
  -webkit-transition: 0.1s linear 0.57s;
  -o-transition: 0.1s linear 0.57s;
  transition: 0.1s linear 0.57s;
}

.navigation li.n15 { 
  -webkit-transition: 0.1s linear 0.54s;
  -o-transition: 0.1s linear 0.54s;
  transition: 0.1s linear 0.54s;
}

.navigation li.n16 { 
  -webkit-transition: 0.1s linear 0.51s;
  -o-transition: 0.1s linear 0.51s;
  transition: 0.1s linear 0.51s;
}

.navigation li.n17 { 
  -webkit-transition: 0.1s linear 0.48s;
  -o-transition: 0.1s linear 0.48s;
  transition: 0.1s linear 0.48s;
}

.navigation li.n18 { 
  -webkit-transition: 0.1s linear 0.45s;
  -o-transition: 0.1s linear 0.45s;
  transition: 0.1s linear 0.45s;
}

.navigation li.n19 { 
  -webkit-transition: 0.1s linear 0.42s;
  -o-transition: 0.1s linear 0.42s;
  transition: 0.1s linear 0.42s;
}

.navigation li.n20 { 
  -webkit-transition: 0.1s linear 0.39s;
  -o-transition: 0.1s linear 0.39s;
  transition: 0.1s linear 0.39s;
}

.navigation li.n21 { 
  -webkit-transition: 0.1s linear 0.36s;
  -o-transition: 0.1s linear 0.36s;
  transition: 0.1s linear 0.36s;
}

.navigation li.n22 { 
  -webkit-transition: 0.1s linear 0.33s;
  -o-transition: 0.1s linear 0.33s;
  transition: 0.1s linear 0.33s;
}

.navigation li.n23 { 
  -webkit-transition: 0.1s linear 0.3s;
  -o-transition: 0.1s linear 0.3s;
  transition: 0.1s linear 0.3s;
}

.navigation li.n24 { 
  -webkit-transition: 0.1s linear 0.27s;
  -o-transition: 0.1s linear 0.27s;
  transition: 0.1s linear 0.27s;
}

.navigation li.n25 { 
  -webkit-transition: 0.1s linear 0.24s;
  -o-transition: 0.1s linear 0.24s;
  transition: 0.1s linear 0.24s;
}

.navigation li.n26 { 
  -webkit-transition: 0.1s linear 0.21s;
  -o-transition: 0.1s linear 0.21s;
  transition: 0.1s linear 0.21s;
}

.navigation li.n27 { 
  -webkit-transition: 0.1s linear 0.18s;
  -o-transition: 0.1s linear 0.18s;
  transition: 0.1s linear 0.18s;
}

.navigation li.n28 { 
  -webkit-transition: 0.1s linear 0.15s;
  -o-transition: 0.1s linear 0.15s;
  transition: 0.1s linear 0.15s;
}

.navigation li.n29 { 
  -webkit-transition: 0.1s linear 0.12s;
  -o-transition: 0.1s linear 0.12s;
  transition: 0.1s linear 0.12s;
}

.navigation li.n30 {
  -webkit-transition: 0.1s linear 0.09s;
  -o-transition: 0.1s linear 0.09s;
  transition: 0.1s linear 0.09s;
}

.navigation li.n31 {
  -webkit-transition: 0.1s linear 0.06s;
  -o-transition: 0.1s linear 0.06s;
  transition: 0.1s linear 0.06s;
}

.navigation li.n32 { 
  -webkit-transition:0.1s linear 0.03s;
  -o-transition:0.1s linear 0.03s;
  transition:0.1s linear 0.03s;
}

.navigation li.n33 {
  -webkit-transition: 0.1s linear 0s;
  -o-transition: 0.1s linear 0s;
  transition: 0.1s linear 0s;
}

.navigation:hover li {
  -webkit-transform: perspective(350px) rotateX(0deg);
  -o-transform: perspective(350px) rotateX(0deg);
  transform: perspective(350px) rotateX(0deg);
  -webkit-transition:0.1s linear 0s;
  -o-transition:0.1s linear 0s;
  transition:0.1s linear 0s;
}

.navigation:hover .n2 {
  -webkit-transition-delay: 0.03s;
  -o-transition-delay: 0.03s;
  transition-delay: 0.03s;
}

.navigation:hover .n3 {
  -webkit-transition-delay: 0.06s;
  -o-transition-delay: 0.06s;
  transition-delay: 0.06s;
}

.navigation:hover .n4 {
  transition-delay: 0.09s;
  -o-transition-delay: 0.09s;
  transition-delay: 0.09s;
}

.navigation:hover .n5 {
  -webkit-transition-delay: 0.12s;
  -o-transition-delay: 0.12s;
  transition-delay: 0.12s;
}

.navigation:hover .n6 {
  -webkit-transition-delay: 0.15s;
  -o-transition-delay: 0.15s;
  transition-delay: 0.15s;
}

.navigation:hover .n7 {
  -webkit-transition-delay: 0.18s;
  -o-transition-delay: 0.18s;
  transition-delay: 0.18s;
}

.navigation:hover .n8 {
  -webkit-transition-delay: 0.21s;
  -o-transition-delay: 0.21s;
  transition-delay: 0.21s;
}

.navigation:hover .n9 {
  -webkit-transition-delay: 0.24s;
  -o-transition-delay: 0.24s;
  transition-delay: 0.24s;
}

.navigation:hover .n10 {
  -webkit-transition-delay: 0.27s;
  -o-transition-delay: 0.27s;
  transition-delay: 0.27s;
}

.navigation:hover .n11 {
  -webkit-transition-delay: 0.3s;
  -o-transition-delay: 0.3s;
  transition-delay: 0.3s;
}

.navigation:hover .n12 {
  -webkit-transition-delay: 0.33s;
  -o-transition-delay: 0.33s;
  transition-delay: 0.33s;
}

.navigation:hover .n13 {
  -webkit-transition-delay: 0.36s;
  -o-transition-delay: 0.36s;
  transition-delay: 0.36s;
}

.navigation:hover .n14 {
  -webkit-transition-delay: 0.39s;
  -o-transition-delay: 0.39s;
  transition-delay: 0.39s;
}

.navigation:hover .n15 {
  -webkit-transition-delay: 0.42s;
  -o-transition-delay: 0.42s;
  transition-delay: 0.42s;
}

.navigation:hover .n16 {
  -webkit-transition-delay: 0.45s;
  -o-transition-delay: 0.45s;
  transition-delay: 0.45s;
}

.navigation:hover .n17 {
  -webkit-transition-delay: 0.48s;
  -o-transition-delay: 0.48s;
  transition-delay: 0.48s;
}

.navigation:hover .n18 {
  -webkit-transition-delay: 0.51s;
  -o-transition-delay: 0.51s;
  transition-delay: 0.51s;
}

.navigation:hover .n19 {
  -webkit-transition-delay: 0.54s;
  -o-transition-delay: 0.54s;
  transition-delay: 0.54s;
}

.navigation:hover .n20 {
  -webkit-transition-delay: 0.57s;
  -o-transition-delay: 0.57s;
  transition-delay: 0.57s;
}

.navigation:hover .n21 {
  -webkit-transition-delay: 0.6s;
  -o-transition-delay: 0.6s;
  transition-delay: 0.6s;
}

.navigation:hover .n22 {
  -webkit-transition-delay: 0.63s;
  -o-transition-delay: 0.63s;
  transition-delay: 0.63s;
}

.navigation:hover .n23 {
  -webkit-transition-delay: 0.66s;
  -o-transition-delay: 0.66s;
  transition-delay: 0.66s;
}

.navigation:hover .n24 {
  -webkit-transition-delay: 0.69s;
  -o-transition-delay: 0.69s;
  transition-delay: 0.69s;
}

.navigation:hover .n25 {
  -webkit-transition-delay: 0.72s;
  -o-transition-delay: 0.72s;
  transition-delay: 0.72s;
}

.navigation:hover .n26 {
  -webkit-transition-delay: 0.75s;
  -o-transition-delay: 0.75s;
  transition-delay: 0.75s;
}

.navigation:hover .n27 {
  -webkit-transition-delay: 0.78s;
  -o-transition-delay: 0.78s;
  transition-delay: 0.78s;
}

.navigation:hover .n28 {
  -webkit-transition-delay: 0.81s;
  -o-transition-delay: 0.81s;
  transition-delay: 0.81s;
}

.navigation:hover .n29 {
  -webkit-transition-delay: 0.84s;
  -o-transition-delay: 0.84s;
  transition-delay: 0.84s;
}

.navigation:hover .n30 {
  -webkit-transition-delay: 0.87s;
  -o-transition-delay: 0.87s;
  transition-delay: 0.87s;
}

.navigation:hover .n31 {
  -webkit-transition-delay: 0.9s;
  -o-transition-delay: 0.9s;
  transition-delay: 0.9s;
}

.navigation:hover .n32 {
  -webkit-transition-delay: 0.93s;
  -o-transition-delay: 0.93s;
  transition-delay: 0.93s;
}

.navigation:hover .n33 {
  -webkit-transition-delay: 0.96s;
  -o-transition-delay: 0.96s;
  transition-delay: 0.96s;
}

.triangle {
  font-size: 10px;
}